<!Doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Quotes</title>
	<!-- <link rel="stylesheet" href="FreeBSD_css.css"> -->
	<link rel="stylesheet" type="text/css" href="/static/css/show_user_style_sheet.css">
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>

<body>
	<div class="container">

		<div class="col-md-12" class="active">
			<nav class="navbar navbar-light bg-faded">
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item active">
						<a class="nav-link.pull-*-right" href="/quotes">Dashboard <span class="sr-only"></span></a>
					</li>
					<li class="divider-vertical"></li>
					<li class="nav-item active">
						<a class="nav-link.pull-*-right" href="/logout">Logout <span class="sr-only"></span></a>
					</li>
				</ul>
			</nav> 
		</div> <!-- end of class="col-md-12" -->
	</div> <!-- end of class="container" -->

	<div class="container">

		<h6>Posts by: {{user_info['name']}}</h6>
		<h6>Count: {{user_info['count']}}</h6>
		<br>
		<br>

		<div class="container">
			{%for quote in quotes%}
				<div class="row">
					<div class="col-sm-2">
						<label id="quoter">{{quote['quoted_by']}}: </label>
					</div>
					<div class="col-sm-10">
						<p>{{quote['message']}}</p>
					</div>
				</div>
			{%endfor%}
		</div>
	</div>


</body>
</html>